---
import {Image} from "astro:assets"
import {Icon} from "astro-icon/components"

import Layout from "../layouts/Main.astro"

import leronBook from "../assets/images/leron-book.webp"

const title = "Hello, World!"
---

<Layout title={title}>
  <section class="bg-[url('/src/assets/images/mallet-justice.jpg')] text-white">
    <h1>Hello</h1>
  </section>
  <section class="breakout">
    <h1>Hi</h1>
  </section>
</Layout>
